*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Lucida Sans, Helvetica, Arial, sans-serif;
    background-color: #f2f2f2;
    height: 100%;
    width: 100%;

}

header {
	background-image: linear-gradient(to right, #4d0101, #792109, #b60303);
    color: white;
    padding: 25px;
    font-family: Copperplate, Copperplate Gothic Light, fantasy;
}

.logo{
    width: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.logo h1{
    font-size: 35px;
}

.links{
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.links ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;

}

.links li{
    display: inline; 
}

.links a{
    text-decoration: none;
    color: #EDEDED;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 20px;
}

.links a:hover{
    text-decoration: underline;
}

main {
    padding: 20px;
}

.member {
    text-align: center;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.member img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

#botoes {
    display: flex;
    justify-content: space-evenly;

}


/* Adicionando estilos ao carousel */
.members-carousel {
    overflow: hidden;
    white-space: nowrap;
    width: 100%; /* Ajuste a largura conforme necessário */
    display: flex;
    justify-content: center;
}

#membersContainer {
    display: flex;
    transition: transform 0.5s ease-in-out;
    min-width: 100%; /* Certifique-se de que o conteúdo tenha pelo menos a largura da tela */
}


/* Adicionando estilização ao botão Próximo Membro */
#nextMemberBtn, #prevMemberBtn {
    background-color: #EDEDED;
    padding: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 15px;
    transition: background-color 0.3s ease-in-out;
}

#nextMemberBtn:hover {
    background-color: #b60303;
}

#prevMemberBtn:hover {
    background-color: #b60303;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: #b8b8b8;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    width: 18%;
    margin-left: 0.6%;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}

.card h2 {
    font-size: 18px;
    margin: 10px;
}

.card p {
    font-size: 14px;
    margin: 5px 10px;
}
