*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Lucida Sans, Helvetica, Arial, sans-serif;
    background-color: #f2f2f2;
    height: 100%;
    width: 100%;

}

header {
	background-color: #b8b8b8;
    color: rgb(0, 0, 0);
    padding: 10px;
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
}

.logo{
    width: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.logo h1{
    font-size: 30px;
}

.links{
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.links ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;

}

.links li{
    display: inline; 
}

.links a{
    text-decoration: none;
    color: #000000;
    font-family: Consolas, monaco, monospace;
    font-size: 20px;
    
    
}

.links a:hover{
    text-decoration: underline;
}

main {
    padding: 20px;
}

.member {
    text-align: center;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    
}

.member img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

#botoes {
    display: flex;
    justify-content: space-evenly;

}


/* Adicionando estilos ao carousel */
.members-carousel {
    overflow: hidden;
    white-space: nowrap;
    width: 100%; /* Ajuste a largura conforme necessário */
    display: flex;
    justify-content: center;
    
}

#membersContainer {
    display: flex;
    transition: transform 0.5s ease-in-out;
    min-width: 100%; /* Certifique-se de que o conteúdo tenha pelo menos a largura da tela */
    
}


/* Adicionando estilização ao botão Próximo Membro */
#nextMemberBtn, #prevMemberBtn {
    background-color: #EDEDED;
    padding: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 15px;
    transition: background-color 0.3s ease-in-out;
}

#nextMemberBtn:hover {
    background-color: #333;
}

#prevMemberBtn:hover {
    background-color: #333;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: #b8b8b8;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    width: 20%;
    margin-left: 10%;
}

.card:hover {
    transform: scale(1.05);
    
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}

.card h2 {
    font-size: 18px;
    margin: 10px;
    
}

.card p {
    font-size: 14px;
    margin: 5px 10px;
    
}

/* ... Seus estilos existentes ... */

body.dark-mode {
    background-color: #333;
    color: white;
    margin-left: auto;
}

.dark-mode .member {
    background-color: #555; /* Altere para a cor desejada no modo escuro */
    color: white;
}

.dark-mode-toggle {
    display: flex;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px 20px 20px 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50% 50% 50% 50%;
}

input:checked + .slider {
    background-color: #333;
    
}

input:focus + .slider {
    box-shadow: 0 0 1px #3333;
}

input:checked + .slider:before {
    transform: translateX(26px);
    border-radius: 50% 50% 50% 50%;
}

/* ... Seus estilos existentes ... */

body.dark-mode .gallery .card {
    background-color: #333; /* Altere para a cor desejada no modo escuro */
    color: white; /* Altere para a cor do texto desejada no modo escuro */
    
}

/* Ajuste estilos específicos para o modo escuro no elemento .member */
body.dark-mode .gallery {
    background-color: #555; 
    color: white; 
}

body.dark-mode header {
    background-color: #555; /* Altere para a cor desejada no modo escuro */
    color: white; /* Altere para a cor do texto desejada no modo escuro */
}

body.dark-mode .links a {
    background-color: #555; /* Altere para a cor desejada no modo escuro */
    color: white; 
}

body.dark-mode #nextMemberBtn,
body.dark-mode #prevMemberBtn {
    background-color: #555; /* Cor dos botões no modo escuro */
    color: white; /* Cor do texto dos botões no modo escuro */
}

body.dark-mode #nextMemberBtn:hover,
body.dark-mode #prevMemberBtn:hover {
    background-color: white; /* Cor dos botões no modo escuro */
    color: #555; 
}

